@import url("./themes/theme1.css");
@import url("./modules/generic.css");

* {
    font-family: "CaskaydiaMono Nerd Font";
    font-size: 12.25px;
    min-height: 15px;
    padding: 1 3px;
    font-weight: bold;
}

window#waybar {
    background: transparent;
}

#custom-logo {
    color: @foreground;
    border: 2px solid @border;
    border-radius: 13px;
    min-width: 30px;
}

#tray {
    padding: 3px;
}

button {
    color: white;
}

button:hover {
    background: transparent;
}

/* Enable Border */
#custom-spotify,
#workspaces,
#custom-logo,
#clock,
#network,
#memory,
#pulseaudio,
#wireplumber,
#user,
#groups-apps,
#taskbar {
    border: 2px solid @border;
    border-radius: 4px;
}

#taskbar button.active {
    border-bottom: 2px solid white;
    border-radius: 0px;
}

#custom-space {
    background: transparent;
    color: rgba(255, 255, 255, 0.5);
}




#workspaces {
    color: @fg-module;
}

#workspaces button {
    margin: 0 1px;
    padding: 0 2px;
}

#custom-spotify {
    background: black;
    color: white;
}


